$options { default.properties "event;strict"}

_concept {
  #[visited]:Integer
  #suitability:Boolean =`true`
  event +`
    if (!${[[=_personal]]#country}.equals("")) {
      ${#visited}++;
    }
  `
  #resource =`~
    if (${[[=_personal]]#country}.equals("")) {
      return "[[=index.xhtml]]";
    } else {
      return "[[=layout.xhtml]]";
    }
  `
}

_personal {
  #[country]:String ``
}

{{#concepts}}
{{name}} {
  ->(extends)_concept
  title `{{title}}`
  name `{{name}}`
  #content:String =`~ return "[[=content/{{filename}}.xhtml]]";`
  {{#parent}}
  ->(parent){{parent}}
  {{/parent}}
  {{#country}}
  ->(isCountry)_concept
  {{/country}}
  {{#neighbors}}
  ->(isNeighborOf){{.}}
  {{/neighbors}}
}
{{/concepts}}
