$options { default.properties "event;strict"}

_concept {
  #[visited]:Integer
  event +`
    if (!${[[=_personal]]#country}.equals("")) {
      ${#visited}++;
    }
  `
  #resource =`~
    if (${[[=_personal]]#language}.equals("")) {
      return "[[=detect_language.xhtml]]";
    } else if (${[[=_personal]]#country}.equals("")) {
      return "[[=index.xhtml]]";
    } else {
      return "[[=layout.xhtml]]";
    }
  `
  #suitability:Boolean =`sum(new Object[]{${=>(isNeighborOf)#visited}}) > 0`
}

_personal {
  #[language]:String ``
  #[country]:String ``
  #[read_more_count]:Integer `0`
  #[map_count]:Integer `0`
  #textual:Boolean =`${#read_more_count} - ${#map_count} >= 5`
  #visual:Boolean =`${#map_count} - ${#read_more_count} >= 5`
}

{{#languages}}
{{/languages}}

{{#concepts}}
{{name}} {
  ->(extends)_concept
  title `{{title}}`
  name `{{name}}`
  #content:String =`~ return "[[=content/{{filename}}.xhtml]]";`
  {{#parent}}
  ->(parent){{parent}}
  {{/parent}}
  {{#country}}
  ->(isCountry)_concept
  {{/country}}
  {{#neighbors}}
  ->(isNeighborOf){{.}}
  {{/neighbors}}
}
{{/concepts}}